<div class="row">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 3:  </h1><span class="titlespan"><i class="fa fa-book"></i></span><h2>Present Perfect</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-6 small-12 end"><div class="textbox"><p>The present perfect is formed from the present tense of the verb have and the past participle of a verb:

The present perfect continuous is formed with have/has been and the -ing form of the verb:

Use
We use the present perfect tense:

for something that started in the past and continues in the present:
They’ve been married for nearly fifty years.
She has lived in Liverpool all her life.

Note: We normally use the present perfect continuous for this:

She has been living in Liverpool all her life.
It’s been raining for hours.

 for something we have done several times in the past and continue to do:
I’ve played the guitar ever since I was a teenager.
He has written three books and he is working on another one.
I’ve been watching that programme every week.

We often use a clause with since to show when something started in the past:

They’ve been staying with us since last week.
I have worked here since I left school.
I’ve been watching that programme every week since it started.

when we are talking about our experience up to the present:

Note: We often use the adverb ever to talk about experience up to the present:

My last birthday was the worst day I have ever had.

Note: and we use never for the negative form:

Have you ever met George?
Yes, but I’ve never met his wife.

for something that happened in the past but is important at the time of speaking:
I can’t get in the house. I’ve lost my keys.
Teresa isn’t at home. I think she has gone shopping.
I’m tired out. I’ve been working all day.

 

 We use the present perfect of be when someone has gone to a place and returned:

A: Where have you been?
B: I’ve just been out to the supermarket.

A: Have you ever been to San Francisco?
B: No, but I’ve been to Los Angeles.

But when someone has not returned we use have/has gone:

A: Where is Maria? I haven’t seen her for weeks.
B: She's gone to Paris for a week. She’ll be back tomorrow.

We often use the present perfect with time adverbials which refer to the recent past:

just; only just; recently;

Scientists have recently discovered a new breed of monkey.
We have just got back from our holidays.

or adverbials which include the present:

ever (in questions); so far; until now; up to now; yet (in questions and negatives)

Have you ever seen a ghost?
Where have you been up to now?
Have you finished your homework yet?
No, so far I’ve only done my history.

WARNING:

We do not use the present perfect with an adverbial which refers to past time which is finished:

I have seen that film yesterday.
We have just bought a new car last week.
When we were children we have been to California.

But we can use it to refer to a time which is not yet finished:

Have you seen Helen today?
We have bought a new car this week.</p></div></div>
</div>