<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 1:  </h1><span class="titlespan"></i></span><h2>Present Simple</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
        <div class="field-item even"><p>The present tense is the <strong>base form </strong>of the verb: I <strong>work</strong> in London.<br>
But the third person (she/he/it) adds an <strong><em>-s</em></strong>: She <strong>work</strong><u><strong>s</strong></u> in London.</p>

<h4>Use</h4>

<p>We use the present tense to talk about:</p>

<ul><li>something that is true in the <strong>present</strong>:</li>
</ul><p class="rteindent1">I<strong>’m </strong>nineteen years old.<br>
He <strong>lives </strong>in London.<br>
I<strong>’m</strong> a student.</p>

<ul><li>something that happens again and again in the present:</li>
</ul><p class="rteindent1">I <strong>play </strong>football every weekend.</p>

<p class="rteindent1"><em>We use words like <strong>sometimes</strong>, <strong>often</strong>. <strong>always</strong>, and&nbsp;<strong>never </strong>(adverbs of frequency) with the present tense</em>:</p>

<p class="rteindent1">I <strong>sometimes </strong>go to the cinema.<br>
She <strong>never </strong>plays football.</p>

<ul><li>something that is <strong>always true</strong>:</li>
</ul><p class="rteindent1">The adult human body <strong>contains </strong>206 bones.<br>
Light <strong>travels </strong>at almost 300,000 kilometres per second.</p>

<p>&nbsp;&nbsp;</p>

<ul><li>something that is fixed in the future.</li>
</ul><p class="rteindent1">The school term&nbsp;<strong>starts </strong>next week.<br>
The train <strong>leaves </strong>at 1945 this evening.<br>
We <strong>fly </strong>to Paris next week.</p>

<p>&nbsp;</p>

<h4>Questions and negatives</h4>

<p>Look at these questions:</p>

<p class="rteindent1">Do you play the piano?<br>
Where do you live?<br>
Does Jack play football?<br>
Where does he come from?<br>
Do Rita and Angela live in Manchester?<br>
Where do they work?</p>

<ul><li>With the present tense, we use <em><strong>do </strong></em>and <em><strong>does </strong></em>to make questions. We use <strong><em>does </em></strong>for the third person (she/he/it) and we use <strong><em>do </em></strong>for the others.</li>
</ul><p>&nbsp;</p>

<p>&nbsp;We use <strong><em>do </em></strong>and <strong><em>does </em></strong>with question words like <strong><em>where</em></strong>, <em><strong>what </strong></em>and <strong><em>why</em></strong>:</p>

<p>&nbsp;</p>

<p>&nbsp;But look at these questions with who:</p>

<p class="rteindent1">Who lives in London?<br>
Who plays football at the weekend?<br>
Who works at Liverpool City Hospital?</p>

<p>Look at these sentences:</p>

<p class="rteindent1">I like tennis, but I don’t like football. (don’t = do not)<br>
I don’t live in London now.<br>
I don’t play the piano, but I play the guitar.<br>
They don’t work at the weekend.<br>
John doesn’t live in Manchester. (doesn’t = does not)<br>
Angela doesn’t drive to work. She goes by bus.</p>

<ul><li>With the present tense we use <strong><em>do </em></strong>and <strong><em>does </em></strong>to make negatives. We use does not (<em><strong>doesn’t</strong></em>) for the third person (she/he/it) and we use do not (<em><strong>don’t</strong></em>) for the others.</li>
</ul><p>Complete these sentences with don’t or doesn’t:</p>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/MultipleChoice_NDQ3OQ==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDQ3OQ==/le7"></iframe></p></div>
    </p></div></div>
</div>