<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 4:  </h1><span class="titlespan"></i></span><h2>Comparative and Superlative Adjectives</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
    	
    	<div class="field-item even"><p>We use <strong>comparative adjectives </strong>to describe people and things:</p>

<p class="rteindent1">This car is certainly <strong>better </strong>but it’s much <strong>more expensive</strong>.<br>
I’m feeling <strong>happier </strong>now.<br>
We need a <strong>bigger </strong>garden</p>

<p>We use <em><strong>than </strong></em>when we want to compare one thing with <strong>another</strong>:</p>

<p class="rteindent1">She is two years older <strong>than </strong>me.<br>
New York is much bigger <strong>than </strong>Boston.<br>
He is a better player <strong>than </strong>Ronaldo.<br>
France is a bigger country <strong>than </strong>Britain.</p>

<p>When we want to describe how something or someone <strong>changes </strong>we can use <strong>two comparatives</strong> with <strong><em>and</em></strong>:</p>

<p class="rteindent1">The balloon got <strong>bigger and bigger</strong>.<br>
Everything is getting <strong>more and more expensive</strong>.<br>
Grandfather is looking <strong>older and older</strong>.&nbsp;</p>

<p>We often use the with comparative adjectives to show that one thing <strong>depends on another</strong>:</p>

<p class="rteindent1">When you drive faster it is more dangerous<br>
&gt; The faster you drive, the more dangerous it is.<br>
When they climbed higher it got colder<br>
&gt;&nbsp;The higher they climbed, the colder it got.</p>

<h4>Superlative adjectives:</h4>

<p>We use <em><strong>the </strong></em>with a superlative:</p>

<p>It was <strong><u>the happiest</u> day</strong> of my life.<br>
Everest is <strong><u>the highest</u> mountain</strong> in the world.<br>
That’s <strong><u>the best</u> film</strong> I have seen this year.<br>
I have three sisters, Jan is <strong><u>the oldest</u></strong> and Angela is <strong><u>the youngest</u></strong> .&nbsp;</p>

<h4 class="rteleft">Activities<br>
&nbsp;</h4>

<p><a class="embed" href="https://gamedata.britishcouncil.org/d/GapFillTyping_Mjk4OA==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/Mjk4OA==/le7"></iframe></p>

<p>&nbsp;</p>

<p><a class="embed" href="https://gamedata.britishcouncil.org/d/GapFillTyping_Mjk4OQ==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/Mjk4OQ==/le7"></iframe></p>

<p>&nbsp;</p>

<p><a class="embed" href="https://gamedata.britishcouncil.org/d/GapFillTyping_Mjk5MA==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/Mjk5MA==/le7"></iframe></p>

<p>&nbsp;</p></div>
    </p></div></div>
</div>