<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 1:  </h1><span class="titlespan"></span><h2>Countries & Nationalities</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
    	Note - in English all countries and adjectives describing the products, people or services from that country are proper nouns and as such start with a CAPITAL LETTER.
		<table width="99%" border="1" cellpadding="3" bgcolor="#66FFCC">
		<tbody><tr>
		<th width="33%">Country<a name="Country" id="Country"></a></th>
		<th width="33%">Nationality</th>
		<th>Official Language(s)</th>
		</tr>
		<tr>
		<td>Australia</td>
		<td>Australian</td>
		<td>English</td>
		</tr>
		<tr>
		<td>Austria</td>
		<td>Austrian</td>
		<td>Austrian</td>
		</tr>
		<tr>
		<td>Belgium</td>
		<td>Belgian</td>
		<td>French or Flemish</td>
		</tr>
		<tr>
		<td>Brazil</td>
		<td>Brazilian</td>
		<td>Portugese</td>
		</tr>
		<tr>
		<td>Britain</td>
		<td>British</td>
		<td>English</td>
		</tr>
		<tr>
		<td>Canada</td>
		<td>Canadian</td>
		<td>English or French</td>
		</tr>
		<tr>
		<td>China</td>
		<td>Chinese</td>
		<td> Mandarin</td>
		</tr>
		<tr>
		<td>Denmark</td>
		<td>Danish</td>
		<td>Danish</td>
		</tr>
		<tr>
		<td>Egypt</td>
		<td>Egyptian</td>
		<td>Arabic</td>
		</tr>
		<tr>
		<td>England</td>
		<td>English</td>
		<td>English</td>
		</tr>
		<tr>
		<td>Finland</td>
		<td>Finnish</td>
		<td>Finnish</td>
		</tr>
		<tr>
		<td>France</td>
		<td>French</td>
		<td>French</td>
		</tr>
		<tr>
		<td>Germany</td>
		<td>German</td>
		<td>German</td>
		</tr>
		<tr>
		<td>Greece</td>
		<td>Greek</td>
		<td>Greek</td>
		</tr>
		<tr>
		<td>Hungary</td>
		<td>Hungarian</td>
		<td>Hungarian</td>
		</tr>
		<tr>
		<td>Italy</td>
		<td>Italian</td>
		<td>Italian</td>
		</tr>
		<tr>
		<td>Japan</td>
		<td>Japanese</td>
		<td>Japanese</td>
		</tr>
		<tr>
		<td>Korea</td>
		<td>Korean</td>
		<td>Korean</td>
		</tr>
		<tr>
		<td>Mexico</td>
		<td>Mexican</td>
		<td>Spanish</td>
		</tr>
		<tr>
		<td>Northern Ireland </td>
		<td>Irish</td>
		<td>English</td>
		</tr>
		<tr>
		<td>Poland</td>
		<td>Polish</td>
		<td>Polish</td>
		</tr>
		<tr>
		<td>Portugal</td>
		<td>Portugese</td>
		<td><p>Portugese</p></td>
		</tr>
		<tr>
		<td>Russia</td>
		<td>Russian</td>
		<td>Russian</td>
		</tr>
		<tr>
		<td>Scotland</td>
		<td>Scottish</td>
		<td>English or Gaelic</td>
		</tr>
		<tr>
		<td>South Africa</td>
		<td>South African</td>
		<td>Afrikaans<br>
		English<br>
		IsiNdebele<br>
		IsiXhosa<br>
		IsiZulu <br>
		Northern Sotho (Sepedi) <br>
		Sesotho<br>
		Setswana<br>
		SiSwati<br>
		Tshivenda<br>
		Xitsonga </td>
		</tr>
		<tr>
		<td>Southern Ireland </td>
		<td>Irish</td>
		<td>English</td>
		</tr>
		<tr>
		<td>Spain</td>
		<td>Spanish</td>
		<td>Spanish</td>
		</tr>
		<tr>
		<td>Sweden</td>
		<td>Swedish</td>
		<td>Swedish</td>
		</tr>
		<tr>
		<td>Switzerland</td>
		<td>Swiss</td>
		<td>French / German / Italian</td>
		</tr>
		<tr>
		<td>The Netherlands</td>
		<td>Dutch</td>
		<td>Dutch</td>
		</tr>
		<tr>
		<td>Turkey</td>
		<td>Turkish</td>
		<td>Turkish</td>
		</tr>
		<tr>
		<td>The UK </td>
		<td>British</td>
		<td>English</td>
		</tr>
		<tr>
		<td>The USA</td>
		<td>American</td>
		<td>English</td>
		</tr>
		<tr>
		<td>Wales</td>
		<td>Welsh</td>
		<td>English or Welsh</td>
		</tr>
		</tbody></table>
</p></div></div>
</div>