<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 1:  </h1><span class="titlespan"><i class="fa fa-book"></i></span><h2>Count Nouns</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
            <div class="field-item even"><p>Count nouns have two forms: <strong>singular </strong>and <strong>plural</strong>.</p>

<p>Singular count nouns refer to one person or thing:</p>

<p class="rteindent1"><em>a book; a teacher; a wish; an idea</em></p>

<p>Plural count nouns refer to more than one person or thing:</p>

<p class="rteindent1"><em>books; teachers; wishes; ideas</em></p>

<h4>Singular count nouns</h4>

<p>Singular count nouns <strong>cannot be used alone</strong>. They must have a <u><strong>determiner</strong></u>:</p>

<p class="rteindent1"><em><strong>the </strong>book; <strong>that </strong>English teacher; <strong>a</strong> wish; <strong>my </strong>latest idea</em></p>

<h4>Plural forms</h4>

<p>We usually add <em><strong>–s</strong></em> to make a plural noun:</p>

<p class="rteindent1">book &gt;&nbsp;book<strong>s</strong>; school &gt; school<strong>s</strong>; friend &gt; friend<strong>s</strong></p>

<p>We add <em><strong>-es</strong></em> to nouns ending in –ss; -ch; -s; -sh; -x</p>

<p class="rteindent1">class &gt; class<strong>es</strong>; watch &gt; watch<strong>es</strong>; gas &gt; gas<strong>es</strong>; wish &gt; wish<strong>es</strong>; box &gt; box<strong>es</strong></p>

<p>When a noun ends in a <strong>consonant and -y</strong> we make the plural in <em><strong>-ies</strong></em>...</p>

<p class="rteindent1">la<strong>dy</strong> &gt; la<strong>dies</strong>; count<strong>ry</strong> &gt; count<strong>ries</strong>; par<strong>ty</strong> &gt; par<strong>ties</strong></p>

<p>…but if a noun ends in a <strong>vowel and -y</strong> we simply add <em><strong>-s</strong></em>:</p>

<p class="rteindent1">b<strong>oy</strong> &gt; b<strong>oys</strong>; d<strong>ay</strong> &gt; d<strong>ays</strong>; pl<strong>ay</strong> &gt; pl<strong>ays</strong></p>

<p>Some common nouns have <strong>irregular plurals</strong>:</p>

<p class="rteindent1">Man &gt; men; woman &gt; women; child &gt; children; foot &gt; feet;<br>
person &gt; people</p>

<p>Plural count nouns do <strong>not </strong>have a <strong>determiner </strong>when they refer to people or things as a <strong>group</strong>:</p>

<p class="rteindent1"><strong>Computers </strong>are very expensive.<br>
Do you sell <strong>old books</strong>?</p>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/TrueOrFalse_NDQ1OA==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDQ1OA==/le7"></iframe></p></div>
    </p></div></div>
</div>