<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 6:  </h1><span class="titlespan"></span><h2>Phrasal Verbs</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
    	<div class="field-item even"><p>Some verbs are <strong>two part</strong> verbs (see Clauses, Sentences and Phrases). They consist of a <strong>verb </strong>and a <strong>particle</strong>:</p>

<ul><li>grow + up<br>
	&gt;&gt;&nbsp;The children are growing up.</li>
</ul><p>Often this gives the verb a <strong>new meaning</strong>:</p>

<ul><li>take + after<br>
	&gt;&gt;&nbsp;She takes after her mother<br>
	= She looks like her mother, or She behaves like her mother.</li>
	<li>count + on<br>
	&gt;&gt;&nbsp;I know I can count on you<br>
	= I know I can trust you, or I know I can believe you.</li>
</ul><p>Some <strong>transitive </strong>two part verbs (see Clauses, Sentences and Phrases) have <strong>only one </strong>pattern:</p>

<p><strong>N (subject) + V + p + N (object)</strong></p>

<p><em>[Note: N = noun; V = verb; p = particle]</em></p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>N (Subject)</td>
			<td>&nbsp;Verb</td>
			<td>Particle</td>
			<td>&nbsp;N (Object)</td>
		</tr><tr><td>She<br>
			I<br>
			My father</td>
			<td>takes<br>
			can count<br>
			comes</td>
			<td>after<br>
			on<br>
			from</td>
			<td>her mother<br>
			you<br>
			Madrid</td>
		</tr></tbody></table><p><br>
Some transitive two part verbs (see Clauses, Sentences and Phrases) are <strong>phrasal verbs</strong>. Phrasal verbs have <strong>two different patterns</strong>:</p>

<p>• The usual pattern is: <strong>N + V + N + p </strong></p>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>N (Subject)</td>
			<td>Verb</td>
			<td>(N) Object</td>
			<td>Particle</td>
		</tr><tr><td>She<br>
			He<br>
			We</td>
			<td>gave<br>
			knocked<br>
			will be leaving</td>
			<td>the money<br>
			the glass<br>
			our friends and neighbours</td>
			<td>back<br>
			over<br>
			behind</td>
		</tr></tbody></table><p>&nbsp;<br>
• But sometimes these verbs have the pattern: <strong>N (subject) + V + p + N (object)</strong></p>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>N (Subject)</td>
			<td>Verb</td>
			<td>Particle</td>
			<td>N (Object)</td>
		</tr><tr><td>She<br>
			He<br>
			We</td>
			<td>gave<br>
			knocked<br>
			will be leaving</td>
			<td>back<br>
			over<br>
			behind</td>
			<td>the money<br>
			the glass<br>
			our friends and neighbours</td>
		</tr></tbody></table><p>When the object is a <strong>personal pronoun</strong>,these verbs always have the pattern:</p>

<p><strong>N + V +N + p:</strong></p>

<ul><li>She gave back it<br>
	&gt;&gt; She gave it back</li>
	<li>He knocked over it<br>
	&nbsp;&gt;&gt; knocked it over</li>
	<li>We will be leaving behind them<br>
	&gt;&gt; We will be leaving them behind</li>
</ul><p>• Phrasal verbs are nearly always made up of a <strong>transitive verb </strong>and a <strong>particle</strong>. <strong>Common verbs </strong>with their most frequent particles are:</p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>bring:</td>
			<td>about, along, back, forward, in, off, out, round, up</td>
		</tr><tr><td>buy:</td>
			<td>out, up</td>
		</tr><tr><td>call:</td>
			<td>off, up</td>
		</tr><tr><td>carry:</td>
			<td>off, out</td>
		</tr><tr><td>cut:</td>
			<td>back, down, off, out, up</td>
		</tr><tr><td>give:</td>
			<td>away, back, off</td>
		</tr><tr><td>hand:</td>
			<td>back, down, in, on out, over, round</td>
		</tr><tr><td>knock:</td>
			<td>down, out, over</td>
		</tr><tr><td>leave:</td>
			<td>behind, out</td>
		</tr><tr><td>let:</td>
			<td>down, in, off, out</td>
		</tr><tr><td>pass:</td>
			<td>down, over, round</td>
		</tr><tr><td>point:</td>
			<td>out</td>
		</tr><tr><td>push:</td>
			<td>about, around, over</td>
		</tr><tr><td>put:</td>
			<td>across, away, down, forward, off, on, out, through, together, up</td>
		</tr><tr><td>read:</td>
			<td>out</td>
		</tr><tr><td>set:</td>
			<td>apart, aside, back, down</td>
		</tr><tr><td>shut:</td>
			<td>away, in, off, out</td>
		</tr><tr><td>take:</td>
			<td>apart, away, back, down, in, on, up, over</td>
		</tr><tr><td>think:</td>
			<td>over, through, up</td>
		</tr><tr><td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr></tbody></table><p><br><br><br><br>
&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/GapFillDragAndDrop_NDUzNQ==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDUzNQ==/le7"></iframe></p></div>
    </p></div></div>
</div>