<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 2:  </h1><span class="titlespan"></span><h2>Present Continuous</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
        
        <div class="field-item even"><p>The present continuous tense is formed from the present tense of the verb <strong><em>be</em></strong> and the present participle (<strong><em>-ing</em></strong> form) of a verb:</p>

<p><strong>Use</strong></p>

<p>1. We use the present continuous tense to talk about the present:</p>

<ul><li>for something that is happening <strong>at the moment of speaking</strong>:</li>
</ul><p class="rteindent1">I<strong>’m just leaving</strong> work. I’ll be home in an hour.<br>
Please be quiet. The children <strong>are sleeping</strong>.</p>

<ul><li>for something which is happening before and after a given <strong>time</strong>:</li>
</ul><p class="rteindent1">At eight o’clock we <strong>are usually having </strong>breakfast.<br>
When I get home the children <strong>are doing </strong>their homework.</p>

<p>&nbsp;</p>

<ul><li>for something which <strong>we think is temporary</strong>:</li>
</ul><p class="rteindent1">Michael is at university. He<strong>’s studying</strong> history.<br>
I<strong>’m working</strong> in London for the next two weeks.</p>

<ul><li>for something which is <strong>new </strong>and <strong>contrasts </strong>with a previous state:</li>
</ul><p class="rteindent1">These days&nbsp;most people <strong>are using </strong>email instead of writing letters.<br>
What sort of clothes <strong>are teenagers wearing </strong>nowadays? What sort of music <strong>are they listening </strong>to?</p>

<ul><li>to show that something is changing, growing or <strong>developing</strong>:</li>
</ul><p class="rteindent1">The children <strong>are growing </strong>quickly.<br>
The climate <strong>is changing </strong>rapidly.<br>
Your English <strong>is improving</strong>.</p>

<ul><li>for something which happens <strong>again and again</strong>:</li>
</ul><p class="rteindent1">It<strong>’s always raining</strong> in London.<br>
They <strong>are always arguing</strong>.<br>
George is great. He<strong>’s always laughing</strong>.</p>

<p class="rteindent1"><strong>Note</strong>: We normally use <strong><em>always </em></strong>with this use.</p>

<p>2. We use the present continuous tense to talk about the <strong>future</strong>:</p>

<ul><li>for something which has been <strong>arranged </strong>or <strong>planned</strong>:</li>
</ul><p class="rteindent1">Mary<strong> is going </strong>to a new school <u>next term</u>.<br>
What <strong>are you doing </strong><u>next week</u>?</p>

<p>3. We can use the present continuous to talk about the <strong>past</strong>:</p>

<ul><li>When we are telling a <strong>story</strong>:&nbsp;</li>
</ul><ul><li>When we are summarising the story from a book, film or play etc.:</li>
</ul><p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/Matching_NDQ4MA==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDQ4MA==/le7"></iframe></p></div>
    </p></div></div>
</div>