<div class="row">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 1:  </h1><span class="titlespan"><i class="fa fa-book"></i></span><h2>Present Simple</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>The present tense is the base form of the verb: I work in London.
But the third person (she/he/it) adds an -s: She works in London.

Use
We use the present tense to talk about:

something that is true in the present:
I’m nineteen years old.
He lives in London.
I’m a student.

something that happens again and again in the present:
I play football every weekend.

We use words like sometimes, often. always, and never (adverbs of frequency) with the present tense:

I sometimes go to the cinema.
She never plays football.

something that is always true:
The adult human body contains 206 bones.
Light travels at almost 300,000 kilometres per second.

  

something that is fixed in the future.
The school term starts next week.
The train leaves at 1945 this evening.
We fly to Paris next week.

 

Questions and negatives
Look at these questions:

Do you play the piano?
Where do you live?
Does Jack play football?
Where does he come from?
Do Rita and Angela live in Manchester?
Where do they work?

With the present tense, we use do and does to make questions. We use does for the third person (she/he/it) and we use do for the others.
 

 We use do and does with question words like where, what and why:

 

 But look at these questions with who:

Who lives in London?
Who plays football at the weekend?
Who works at Liverpool City Hospital?

Look at these sentences:

I like tennis, but I don’t like football. (don’t = do not)
I don’t live in London now.
I don’t play the piano, but I play the guitar.
They don’t work at the weekend.
John doesn’t live in Manchester. (doesn’t = does not)
Angela doesn’t drive to work. She goes by bus.

With the present tense we use do and does to make negatives. We use does not (doesn’t) for the third person (she/he/it) and we use do not (don’t) for the others.</p></div></div>
</div>