<div class="row">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 4:  </h1><span class="titlespan"></span><h2>Past Simple</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>Forms
With most verbs the past tense is formed by adding -ed:

call >> called; like >> liked; want >> wanted; work >> worked

But there are a lot of irregular past tenses in English. Here are the most common irregular verbs in English, with their past tenses:
<style>
	.demo {
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		padding:5px;
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
	.demo td {
		border:1px solid #C0C0C0;
		padding:5px;
	}
</style>
<table class="demo">
	<caption>Table 1</caption>
	<thead>
	<tr>
		<th>infinitive</th>
		<th>irregular past<br></th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>be</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
infinitive	irregular past
be
begin
break
bring
buy
build
choose
come
cost
cut
do
draw
drive
eat
feel
find
get
give
go
have
hear
hold
keep
know
leave
lead
let
lie
lose
make
mean
meet
pay
put
run
say
sell
send
set
sit
speak
spend
stand
take
teach
tell
think
understand
wear
win
write	was/were
began
broke
brought
bought
built
chose
came
cost
cut
did
drew
drove
ate
felt
found
got
gave
went
had
heard
held
kept
knew
left
led
let
lay
lost
made
meant
met
paid
put
ran
said
sold
sent
set
sat
spoke
spent
stood
took
taught
told
thought
understood
wore
won
wrote
 

Use
We use the past tense to talk about:

something that happened once in the past:
I met my wife in 1983.
We went to Spain for our holidays.
They got home very late last night.

something that happened again and again in the past:
When I was a boy I walked a mile to school every day.
We swam a lot while we were on holiday.
They always enjoyed visiting their friends.

something that was true for some time in the past:
I lived abroad for ten years.
He enjoyed being a student.
She played a lot of tennis when she was younger.

we often use phrases with ago with the past tense:
I met my wife a long time ago.

Questions and negatives
We use did to make questions with the past tense:

When did you meet your wife?
Where did you go for your holidays?
Did she play tennis when she was younger?
Did you live abroad?

But look at these questions:

Who discovered penicillin?
Who wrote Don Quixote?

For more on these questions see question forms

We use didn’t (did not) to make negatives with the past tense:

They didn’t go to Spain this year.
We didn’t get home until very late last night.
I didn’t see you yesterday. </p></div></div>
</div>