<div class="row">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 2:  </h1><span class="titlespan"><i class="fa fa-book"></i></span><h2>Present Continuous</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>The present continuous tense is formed from the present tense of the verb be and the present participle (-ing form) of a verb:

Use

1. We use the present continuous tense to talk about the present:

for something that is happening at the moment of speaking:
I’m just leaving work. I’ll be home in an hour.
Please be quiet. The children are sleeping.

for something which is happening before and after a given time:
At eight o’clock we are usually having breakfast.
When I get home the children are doing their homework.

 

for something which we think is temporary:
Michael is at university. He’s studying history.
I’m working in London for the next two weeks.

for something which is new and contrasts with a previous state:
These days most people are using email instead of writing letters.
What sort of clothes are teenagers wearing nowadays? What sort of music are they listening to?

to show that something is changing, growing or developing:
The children are growing quickly.
The climate is changing rapidly.
Your English is improving.

for something which happens again and again:
It’s always raining in London.
They are always arguing.
George is great. He’s always laughing.

Note: We normally use always with this use.

2. We use the present continuous tense to talk about the future:

for something which has been arranged or planned:
Mary is going to a new school next term.
What are you doing next week?

3. We can use the present continuous to talk about the past:

When we are telling a story: 
When we are summarising the story from a book, film or play etc.:</p></div></div>
</div>