<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 3:  </h1><span class="titlespan"></span><h2>Proper Nouns</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
    	
		<div class="field-item even"><p>Names of people, places and organisations are called <strong>proper nouns</strong>. We spell proper nouns with a <strong>capital letter</strong>:</p>
		
		<p class="rteindent1">Mohammed Ali; Birmingham; China; Oxford University, the United Nations</p>
		
		<p>We use capital letters for <strong>festivals</strong>:</p>
		
		<p class="rteindent1">Christmas; Deepawali; Easter; Ramadan; Thanksgiving</p>
		
		<p>We use a capital letter for someone’s <strong>title</strong>:</p>
		
		<p class="rteindent1">I was talking to <strong>Doctor </strong>Wilson recently.<br>
		Everything depends on <strong>President </strong>Obama.</p>
		
		<p>When we give the names of books, films, plays and paintings we use capital letters for the <strong>nouns, adjectives and verbs </strong>in the name:</p>
		
		<p class="rteindent1">I have been reading ‘The Old Man and the Sea’.<br>
		Beatrix Potter wrote ‘The Tale of Peter Rabbit’<br>
		You can see the Mona Lisa in the Louvre.</p>
		
		<p>Sometimes we use a person’s name to refer to something they have <strong>created</strong>:</p>
		
		<p class="rteindent1">Recently <strong>a Van Gogh </strong>was sold for fifteen million dollars.<br>
		We were listening to <strong>Mozart</strong>.<br>
		I’m reading <strong>an Agatha Christie</strong>.</p>
		
		<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/TrueOrFalse_NDQ2MQ==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDQ2MQ==/le7"></iframe></p></div>
    </p></div></div>
</div>