<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 6:  </h1><span class="titlespan"></span><h2>Past Perfect</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
    	
    	<div class="field-item even"><p>We use the verb <em><strong>had</strong></em>&nbsp;and the <strong>past participle </strong>for the <strong>past perfect</strong>:</p>

<p class="rteindent1">I <strong>had finished </strong>the work.<br>
She <strong>had gone </strong>.</p>

<p>The past perfect <strong>continuous </strong>is formed with <em><strong>had been </strong></em>and the <strong>-</strong><em><strong>ing</strong> </em>form of the verb:</p>

<p class="rteindent1">I <strong>had been </strong>finish<strong>ing</strong> the work<br><strong>She had been</strong> go<strong>ing</strong>.</p>

<p>The past perfect is used in the same way as the present perfect, but it refers to a time in the past, not the present.</p>

<p>We use the past perfect tense:</p>

<ul><li>for something that started in the past and continued up to a given time in the past:</li>
</ul><p class="rteindent1">When George died he and Anne <strong>had been married </strong>for nearly fifty years.<br>
She didn’t want to move. She <strong>had lived </strong>in Liverpool all her life.</p>

<p>We normally use the past perfect <strong>continuous </strong>for this:</p>

<p class="rteindent1">She didn’t want to move. She <strong>had been living </strong>in Liverpool all her life.<br>
Everything was wet. It <strong>had been raining </strong>for hours.</p>

<ul><li>for something we had done <strong>several times </strong>up to a point in the past and <strong>continued </strong>to do <strong>after that point</strong>:</li>
</ul><p class="rteindent1">He was a wonderful guitarist. He <strong>had been playing </strong>ever since he was a teenager.<br>
He <strong>had written three </strong>books and he was working on another one.<br>
I <strong>had been watching </strong>the programme every week, but I missed the last episode.</p>

<p>We often use a clause with <em><strong>since </strong></em>to show when something started in the past:</p>

<p class="rteindent1">They had been staying with us <strong>since </strong><u>the previous week</u>.<br>
I was sorry when the factory closed. I had worked there <strong>since </strong><u>I left school</u>.<br>
I had been watching that programme every week <strong>since</strong> <u>it started</u>, but I missed the last episode.</p>

<ul><li>when we are reporting&nbsp;our experience and including&nbsp;up to the (then) present:</li>
</ul><p class="rteindent1">My eighteenth birthday was the worst day I had ever had.<br>
I was pleased to meet George. I hadn’t met him before, even though I had met his wife several times.</p>

<ul><li>for something that happened in the past but is important at the time of reporting:</li>
</ul><p class="rteindent1">I couldn’t get into the house.<strong> I had lost </strong>my keys.<br>
Teresa wasn’t at home. <strong>She had gone </strong>shopping.</p>

<p>We use the past perfect to talk about the past in <strong>conditions</strong>, <strong>hypotheses </strong>and <strong>wishes</strong>:</p>

<p class="rteindent1">I would have helped him <u>if</u> <strong>he had asked</strong>.<br>
It was very dangerous. <u>What if</u> <strong>you had got</strong> lost?<br><u>I wish</u> <strong>I hadn’t spent</strong> so much money last month.</p>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/Matching_NDQ4NQ==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDQ4NQ==/le7"></iframe></p></div>
		</p></div></div>
</div>