<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 3:  </h1><span class="titlespan"></span><h2>Order of Adjectives</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
    	<div class="field-item even"><p>Sometimes we use <strong>more than one </strong>adjective in front of a noun:</p>

<p class="rteindent1">He was a <u>nice</u> <u>intelligent</u> <u>young</u> man.<br>
She had a <u>small</u> <u>round</u> <u>black</u> <u>wooden</u> box.</p>

<h4>Opinion adjectives:</h4>

<p>Some adjectives give a <strong>general opinion</strong>. We can use these adjectives to describe almost any noun:</p>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>good</td>
			<td>bad</td>
			<td>lovely</td>
			<td>&nbsp;strange</td>
		</tr><tr><td>beautiful</td>
			<td>nice</td>
			<td>brilliant</td>
			<td>excellent</td>
		</tr><tr><td>awful</td>
			<td>important</td>
			<td>wonderful</td>
			<td>nasty</td>
		</tr></tbody></table><p>&nbsp;</p>

<p>Some adjectives give a <strong>specific opinion</strong>. We only use these adjectives to describe particular kinds of noun:</p>

<p class="rteindent1"><strong>Food</strong>: tasty; delicious<br><strong>Furniture, buildings</strong>: comfortable; uncomfortable<br><strong>People, animals</strong>: clever; intelligent; friendly</p>

<p>We usually put a <strong>general</strong> opinion <strong>in front of a specific</strong> opinion:</p>

<p class="rteindent1"><u>Nice</u> <u>tasty</u> soup.<br>
A <u>nasty</u> <u>uncomfortable</u> armchair<br>
A <u>lovely</u> <u>intelligent</u> animal</p>

<p>Usually we put an adjective that gives an <strong>opinion in front </strong>of an adjective that is <strong>descriptive</strong>:</p>

<p class="rteindent1">a nice red dress; a silly old man; those horrible yellow curtains</p>

<p>We often have <strong>two </strong>adjectives in front of a noun:</p>

<p class="rteindent1">a handsome young man; a big black car; that horrible big dog</p>

<p>Sometimes we have <strong>three </strong>adjectives, but this is <strong>unusual</strong>:</p>

<p class="rteindent1">a <u>nice</u> <u>handsome</u> <u>young</u> man;<br>
a <u>big</u> <u>black</u> <u>American</u> car;<br>
that <u>horrible</u> <u>big</u> <u>fierce</u> dog</p>

<p>It is<strong> very unusual </strong>to have <strong>more than three </strong>adjectives.</p>

<p>Adjectives usually come in this order:</p>

<table border="1" cellpadding="1" cellspacing="0"><thead><tr><th scope="col">1</th>
			<th scope="col">2</th>
			<th scope="col">3</th>
			<th scope="col">4</th>
			<th scope="col">5</th>
			<th scope="col">6</th>
			<th scope="col">7</th>
			<th scope="col">8</th>
		</tr></thead><tbody><tr><td>General<br>
			opinion</td>
			<td>Specific<br>
			opinion</td>
			<td>Size</td>
			<td>&nbsp;Shape</td>
			<td>Age</td>
			<td>&nbsp;Colour</td>
			<td>Nationality</td>
			<td>Material</td>
		</tr></tbody></table><p>We use some adjectives only <strong>after a link verb</strong>:</p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>afraid</td>
			<td>alive</td>
			<td>alone</td>
			<td>asleep</td>
		</tr><tr><td>content</td>
			<td>glad</td>
			<td>&nbsp;ill</td>
			<td>ready</td>
		</tr><tr><td>sorry</td>
			<td>sure</td>
			<td>unable</td>
			<td>well</td>
		</tr></tbody></table><p>Some of the commonest <strong><em>-ed</em></strong> adjectives are normally used only <strong>after a link verb</strong>:</p>

<p><em><strong>annoyed; &nbsp;finished; &nbsp;bored; pleased; thrilled</strong></em></p>

<p>We say:</p>

<p class="rteindent1">Our teacher was ill.<br>
My uncle was very glad when he heard the news.<br>
The policeman seemed to be very annoyed</p>

<p>but we do not say:</p>

<p class="rteindent1">We had an ill teacher.<br>
When he heard the news he was a very glad uncle<br>
He seemed to be a very annoyed policeman</p>

<p>A few adjectives are used <strong>only in front of a noun</strong>:</p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>
			<p>north<br>
			south<br>
			east<br>
			west</p>
			</td>
			<td>
			<p>northern<br>
			southern<br>
			eastern<br>
			western</p>
			</td>
			<td>
			<p>countless<br>
			occasional<br>
			lone</p>
			</td>
			<td>
			<p>eventful<br>
			indoor<br>
			outdoor</p>
			</td>
		</tr></tbody></table><p>We say:</p>

<p class="rteindent1">He lives in the <strong>eastern </strong>district.<br>
There were <strong>countless </strong>problems with the new machinery.</p>

<p>but we do not say:</p>

<p class="rteindent1">The district he lives in is eastern<br>The problems with the new machinery were countless.</p>

<p>Try these tasks to improve your adjective ordering.</p>

<h6>Task 1</h6>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/ReorderingHorizontal_MTQwNzk=.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/MTQwNzk=/le7"></iframe></p>

<h6>Task 2</h6>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/ReorderingHorizontal_MTQwODI=.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/MTQwODI=/le7"></iframe></p>

<p class="rteindent1">&nbsp;</p>

<p class="rteindent1">&nbsp;</p></div>
    	
    </p></div></div>
</div>