<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 5:  </h1><span class="titlespan"></span><h2>Past Continuous</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
		<div class="field-item even"><p>The past continuous is formed from the past tense of <strong><em>be</em></strong> with the <strong><em>-ing</em></strong> form of the verb:</p>

<p>We use the past continuous to talk about the <strong>past</strong>:</p>

<ul><li>for something which continued <strong>before </strong>and <strong>after </strong>another <strong>action</strong>:</li>
</ul><p class="rteindent1">The children <strong>were doing their homework</strong> when <u>I got home</u>.</p>

<p class="rteindent1">Compare:</p>

<p class="rteindent1"><br>
I got home.&nbsp;The children did their homework.<br>
and<br>
The children did their homework when I got home.</p>

<p class="rteindent1"><br>
As I was watching television the telephone rang.</p>

<p class="rteindent1"><br>
This use of the past continuous is very common at the beginning of a story:</p>

<p class="rteindent1">The other day <strong>I was waiting </strong>for a bus when …<br>
Last week <strong>as I was driving </strong>to work …&nbsp;</p>

<ul><li>for something that happened <strong>before </strong>and <strong>after </strong>a <strong>particular time</strong>:</li>
</ul><p class="rteindent1">It was eight o’clock. I was writing a letter.<br><br>
Compare:<br><br>
At eight o’clock I wrote some letters.</p>

<p class="rteindent1">In July she was working in McDonald’s.</p>

<ul><li>.to show that something <strong>continued for some time</strong>:</li>
</ul><p class="rteindent1">My head <strong>was aching</strong>.<br>
Everyone <strong>was shouting</strong>.</p>

<ul><li>for something that was happening <strong>again and again</strong>:</li>
</ul><p class="rteindent1">I <strong>was practising </strong>every day, three times a day.<br>
They <strong>were meeting </strong>secretly after school.<br>
They <strong>were always quarrelling</strong>.</p>

<ul><li>with verbs which show <strong>change or growth</strong>:</li>
</ul><p class="rteindent1">The children <strong>were growing up</strong> quickly.<br>
Her English <strong>was improving</strong>.<br>
My hair <strong>was going </strong>grey.<br>
The town <strong>was changing </strong>quickly.</p>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/Matching_NDQ4NA==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDQ4NA==/le7"></iframe></p></div>
</p></div></div>
</div>