<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 4:  </h1><span class="titlespan"></span><h2>Past Simple</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
    	
    	<div class="field-item even"><h4>Forms</h4>

<p>With most verbs the past tense is formed by adding -ed:</p>

<p>call &gt;&gt; called; like &gt;&gt; liked; want &gt;&gt; wanted; work &gt;&gt; worked</p>

<p>But there are a lot of irregular past tenses in English. Here are the most common irregular verbs in English, with their past tenses:</p>

<table border="1" cellpadding="1" cellspacing="0"><thead><tr><th scope="col">infinitive</th>
			<th scope="col">irregular past</th>
		</tr></thead><tbody><tr><td>be<br>
			begin<br>
			break<br>
			bring<br>
			buy<br>
			build<br>
			choose<br>
			come<br>
			cost<br>
			cut<br>
			do<br>
			draw<br>
			drive<br>
			eat<br>
			feel<br>
			find<br>
			get<br>
			give<br>
			go<br>
			have<br>
			hear<br>
			hold<br>
			keep<br>
			know<br>
			leave<br>
			lead<br>
			let<br>
			lie<br>
			lose<br>
			make<br>
			mean<br>
			meet<br>
			pay<br>
			put<br>
			run<br>
			say<br>
			sell<br>
			send<br>
			set<br>
			sit<br>
			speak<br>
			spend<br>
			stand<br>
			take<br>
			teach<br>
			tell<br>
			think<br>
			understand<br>
			wear<br>
			win<br>
			write</td>
			<td>was/were<br>
			began<br>
			broke<br>
			brought<br>
			bought<br>
			built<br>
			chose<br>
			came<br>
			cost<br>
			cut<br>
			did<br>
			drew<br>
			drove<br>
			ate<br>
			felt<br>
			found<br>
			got<br>
			gave<br>
			went<br>
			had<br>
			heard<br>
			held<br>
			kept<br>
			knew<br>
			left<br>
			led<br>
			let<br>
			lay<br>
			lost<br>
			made<br>
			meant<br>
			met<br>
			paid<br>
			put<br>
			ran<br>
			said<br>
			sold<br>
			sent<br>
			set<br>
			sat<br>
			spoke<br>
			spent<br>
			stood<br>
			took<br>
			taught<br>
			told<br>
			thought<br>
			understood<br>
			wore<br>
			won<br>
			wrote</td>
		</tr></tbody></table><p>&nbsp;</p>

<h4>Use</h4>

<p>We use the past tense to talk about:</p>

<ul><li>something that happened <strong>once in the past</strong>:</li>
</ul><p class="rteindent1">I <strong>met </strong>my wife in 1983.<br>
We <strong>went </strong>to Spain for our holidays.<br>
They <strong>got </strong>home very late last night.</p>

<ul><li>something that happened <strong>again and again in the past</strong>:</li>
</ul><p class="rteindent1">When I was a boy I <strong>walked </strong>a mile to school every day.<br>
We <strong>swam </strong>a lot while we were on holiday.<br>
They always <strong>enjoyed </strong>visiting their friends.</p>

<ul><li>something that was <strong>true for some time </strong>in the past:</li>
</ul><p class="rteindent1">I <strong>lived </strong>abroad for ten years.<br>
He <strong>enjoyed </strong>being a student.<br>
She <strong>played </strong>a lot of tennis when she was younger.</p>

<ul><li>we often use phrases with <strong><em>ago </em></strong>with the past tense:</li>
</ul><p class="rteindent1">I <u>met</u> my wife a long time <strong>ago</strong>.</p>

<h4>Questions and negatives</h4>

<p>We use <strong><em>did </em></strong>to make questions with the past tense:</p>

<p class="rteindent1">When <strong>did you meet</strong> your wife?<br>
Where <strong>did you go</strong> for your holidays?<br><strong>Did she play</strong> tennis when she was younger?<br><strong>Did you live </strong>abroad?</p>

<p class="rteindent1">But look at these questions:</p>

<p class="rteindent1">Who discovered penicillin?<br>
Who wrote Don Quixote?</p>

<p>For more on these questions see <strong>question forms</strong></p>

<p>We use <strong>didn’t</strong> (<strong>did not</strong>) to make <strong>negatives </strong>with the past tense:</p>

<p class="rteindent1">They <strong>didn’t go</strong> to Spain this year.<br>
We <strong>didn’t get </strong>home until very late last night.<br>
I <strong>didn’t see </strong>you yesterday.&nbsp;</p>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/GapFillDragAndDrop_NDQ4Mw==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDQ4Mw==/le7"></iframe></p></div>
    </p></div></div>
</div>