<div class="row" style="margin-top:1em;">
    <div class="large-8 medium-8 small-12 columns end"><div class="titlebox"><h1 style="display:inline-block;">Chapter 2:  </h1><span class="titlespan"></span><h2>Uncount Nouns</h2></div></div>

</div>

<div class="row">
    <div class="large-8 medium-8 small-12 end"><div class="textbox"><p>
            <div class="field-item even"><p><div class="field-item even"><p>Some nouns in English are <strong>uncount </strong>nouns.</p>

<p>We do not use uncount nouns in the plural and we do not use them with the indefinite article, a/an.</p>

<p class="rteindent1">We ate a lot of <strong>foods&nbsp;</strong>&gt; We ate a lot of&nbsp;food<br>We bought some new <strong>furnitures </strong>&gt; We bought some new furniture<br>That’s <strong>a</strong> useful information &gt; That’s&nbsp;useful information</p>

<p>We can use <strong>some quantifiers </strong>with uncount nouns:</p>

<p class="rteindent1">He gave me <strong>some useful advice</strong>.<br>
They gave us <strong>a lot of information</strong>.</p>

<p>Uncount nouns often refer to:</p>

<ul><li><strong>Substances</strong>: food; water; wine; salt; bread; iron</li>
	<li><strong>Human feelings or qualities</strong>: anger; cruelty; happiness; honesty; pride;</li>
	<li><strong>Activities</strong>: help; sleep; travel; work</li>
	<li><strong>Abstract ideas</strong>: beauty; death; fun; life</li>
</ul><p>&nbsp;</p>

<h4>Common uncount nouns</h4>

<p>There are some common nouns in English, like&nbsp;<strong><em>accommodation</em></strong>,&nbsp;which are uncount nouns even though they have <strong>plurals in other languages</strong>:</p>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>advice</td>
			<td>baggage</td>
			<td>equipment</td>
			<td>furniture</td>
			<td>homework</td>
			<td>information</td>
		</tr><tr><td>knowledge</td>
			<td>luggage</td>
			<td>machinery</td>
			<td>money</td>
			<td>news</td>
			<td>traffic</td>
		</tr></tbody></table><p class="rteindent1">Let me give you <strong>some advice</strong>.<br><strong>How much luggage</strong> have you got?</p>

<p>If we want to make&nbsp;these things&nbsp;countable, we use <strong>expressions </strong>like:</p>

<p>&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="0"><tbody><tr><td>a piece of...</td>
			<td>pieces of...</td>
			<td>a bit of...</td>
			<td>bits of...</td>
			<td>an item of...</td>
			<td>items of...</td>
		</tr></tbody></table><p class="rteindent1">&nbsp;Let me give you <strong>a piece of </strong>advice.<br>
That’s <strong>a</strong> useful <strong>piece of </strong>equipment.<br>
We bought <strong>a few bits of</strong> furniture for the new apartment.<br>
She had six separate <strong>items of </strong>luggage.</p>

<p>but we do not use <em><strong>accommodation</strong></em>, <em><strong>money </strong></em>and <em><strong>traffic </strong></em>in this way.</p>

<p class="rteindent1"><a class="embed" href="https://gamedata.britishcouncil.org/d/GapFillDragAndDrop_NDQ1OQ==.xml"></a><iframe frameborder="0" height="720" width="100%" seamless="" src="//gamedata.britishcouncil.org/lep15/NDQ1OQ==/le7"></iframe></p></div> </p></div></div>
</div>