<div class="row">
    <div class="large-8 medium-8 small-12 columns end"><h1 style="display:inline-block;">Chapter 1:  </h1><span class="titlespan"><i class="fa fa-book"></i></span><h2>Do you even lift?</h2></div>

</div>

<div class="row">
    <div class="large-6 medium-6 small-12 end"><p>Many people are writing memorials for David Bowie today, remembering how he gave voice and empowerment to the weird and unconventional among us who didn’t really have anyone else to look up to. For a lot of people, Bowie was more than a musician, and while I loved his music, I came to it so late in life, I wasn’t able to fully appreciate what he meant in the 70s.
But he was still an important part of my life, and I felt like I’d been kicked in the stomach when I heard that he was gone this morning. I’ve been listening to his music all day, even more than usual, and thinking about what he and his work mean to me. I’m reprinting two pieces from my blog here, written eleven years apart, that are my effort to remember the man who fell to earth.
a godawful small affair.
I woke up earlier than usual this morning, probably because I went to be earlier than usual last night. It’s all part of Operation: Reboot, and while it’s been a challenging adjustment, it’s worth it.
I sat up in bed, next to both of my dogs who looked confused. Dad doesn’t get out of bed for at least another three hours. What’s going on? Marlowe made a curious sound. Seamus grunted and buried his face into the covers.
I got out of bed, and shuffled into the living room. Anne looked up at me from the couch and said, “David Bowie died.”
David Bowie died? That’s impossible. I must not be entirely awake.
“What?” I said.
“David Bowie died,” she said, tears in her eyes.
I took a moment to run those words, in that order, through my brain. “How?” I asked. It still didn’t make sense to me. Sure, I’d only been awake — and barely, at that — for two minutes, but even if I’d gotten the news in the middle of the day, I wouldn’t have believed it.
“He had cancer,” she said.
Cancer. Well, fuck.
“I … Jesus.” I leaned against the kitchen counter.
It’s three hours later, and I’m awake. I’ve been listening to Ziggy Stardust and Aladdin Sane and Hunky Dory, and I still can’t believe this is real.
David Bowie isn’t a mortal like the rest of us. This doesn’t make sense. This isn’t possible.</p></div>
</div>