<div class="flexcont">
    <div class="item1"><i class="fa  fa-star-half-o "></i><h2>Learn Verbs</h2><p>Do you even learn verbs?</p></div>
    <div class="item2"><i class="fa  fa-book "></i><h2>Learn Verbs</h2><p>Do you even learn verbs?</p></div>
    <div class="item3"><i class="fa fa-header"></i><h2>Learn Verbs</h2><p>Do you even learn verbs?</p></div>
    <div class="item4"><i class="fa  fa-paperclip"></i><h2>Learn Verbs</h2><p>Do you even learn verbs?</p></div>
  </div>
<a class="exit-off-canvas"></a>

  </div>
</div>

