<div class="flexcont">
    <div class="item1"><i class="fa  fa-book "></i><h2>Learn Grammar</h2><p>There, their or they're?</p></div>
    <div class="item2"><i class="fa  fa-language "></i><h2>Learn Verbs</h2><p>Lay or lie?</p></div>
    <div class="item3"><i class="fa  fa-paperclip"></i><h2>Word of the Day</h2><p>mellifluous</p></div>
    <div class="item4"><p></p><a href="http://dictionary.reference.com/" data-linkid="yg487x"> <img src="http://dictionary.reference.com/drc/img/responsive/dcom-logo-8f31c.png" alt="Dictionary.com">
</a><p></p><p></p><h2>Use the Lexicon</h2><p>Contains full entries for 171,476 words</p></div>
  </div>
<a class="exit-off-canvas"></a>

  </div>
</div>

