<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle offmenubut" href="#" >Menu</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul style="list-style: none;" class="asidelist">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
          
          <li><a href="#" class="off-canvas-submenu-call">Item 1 <span> + </span></a></li>
        				<ul class="off-canvas-submenu">
								<li><a href="#">Sub menu 1</a></li>
								<li><a href="#">Sub menu 2</a></li>
								<li><a href="#">Sub menu 3</a></li>
							</ul>

          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 1</a></li>
        </ul>
    </aside>
    